/*
* CSS Reset
*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*
 * Fim do CSS Reset
 */
#estrutura{
    width:1000px;
    margin: 0 auto;
    background: azure;
}

.topo p{
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    color: #003366;

}

.topo{
    height: 100px;
    background: aquamarine;
}

#menu_topo{
    background: #69f;
    height: 38px;
}

#menu_topo ul li a{
    display: block;
    float: left;
    padding: 10px 20px;

    text-decoration: none;
    border-right: 1px solid blue;
}

#menu_topo ul li a:hover{
    background: #003366;
    color: #fff;

}

.titulo, #contato{
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    font-weight: bold;
    float: left;
    background: azure;
    width: 940px;
    font-size: 20px;
    padding: 10px 30px;
    /*height:40px;*/

}

.titulo{
    border-bottom: 1px dashed #69f;
}

#contato ul li{
    font-size: 18px;
    font-weight: normal;
}

.conteudo p{
    text-align: justify;
    margin: 0 5px 10px 5px;
    padding-top: 5px;
}

.conteudo{
    float: left;
    background: azure;
    width: 765px;

}

#sideBar{
    float: right;
    width: 235px;
    height: 245px;
    /*margin: 5px auto;*/
    display: inline;
    background-image: url("linux.png");

}

.siderar {
    float: right;
    width: 200px;
    height: 200px;
    display: inline;
    /*border: 1px dotted black;*/
    margin-top: 10px;
    clear: right;

}

.siderar p{
    text-align: center;
    border-bottom: 1px dashed #69f;
    font-size: 30px;

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

#top_cinco li{
    margin: 10px 15px;
    font-size: 18px;
    text-shadow: 0 0 3px #FF0000;
}

#menu_footer{
    clear: both;
    height: 20px;
    background: #69f;
}

#menu_footer ul li a{
    display: block;
    float: left;
    padding: 1px 20px;
    text-decoration: none;
}

#menu_footer ul li a:hover {
    background: #003366;
    color: #fff;
}

.footer p{
    position: relative;
    height: 30px;
    background: aquamarine;
    clear: both;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

